<body>
    {{>navbar}}
    <div class="first-img">
        <img src="/Images/FirstImg.jpg" alt="Cover Pic">
    </div>
    <div class="sec-img">
        <div class="sec-lvl-img">
            <img src="/Images/sec-img-top.jpg" alt="">
            <p class="text-on-img">
                TOPWEAR
            </p>
            <a href="/products?category=top" class="a-on-img">SHOP</a>
        </div>
        <div class="sec-lvl-img">
            <img src="/Images/sec-img-bottom.jpg" alt="">
            <p class="text-on-img">
                BOTTOMWEAR
            </p>

            <a href="/products?category=bottom" class="a-on-img">SHOP</a>
        </div>
    </div>
    {{>bottomBar}}
</body>